<div id="<%= dom_id philosopher %>">
  <p>
    <strong>First name:</strong>
    <%= philosopher.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= philosopher.last_name %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= philosopher.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= philosopher.death_year %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>

</div>
